<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.iot.mapper.IotScreenProtocolMapper">


    <select id="getScreenProtocolsByMQTT" resultType="com.management.iot.domain.IotScreenProtocol">
        SELECT * FROM iot_screen_protocol;
    </select>

    <select id="getScreenByConfigJson" resultType="com.management.iot.domain.IotScreenProtocol">
        SELECT * FROM iot_screen_protocol WHERE config_json = #{configJson};
    </select>
</mapper>